 <% if current_competitor %> 
<h1>Hello <%= current_competitor.username %>!</h1>
<% end %>
  <div class="row">
    <%= @trivia_question.question %>
      <% @trivia_answers.shuffle.each do |answer| %>
      <%= form_tag("/questions", method: "get") do %>
        <button name="answer" type="submit"><%= answer.answer %></button>
      <% end %>
    <% end %>
  </div>