
<% if current_competitor %> 
<h1>Hello <%= current_competitor.username %>!</h1>
<% end %>
<div class="standard-section section-gray section-requirements">
<div class="container">
  <div class="row">
  <div class='col-sm-6'>
      <div class="requirement-description">
    <%= @trivia_question.question %>
        <% @trivia_answers.shuffle.each do |answer| %>
        <%= form_tag("/trivias", method: "get") do %>
        <button name="answer" type="submit"><%= answer.answer %></button>
      <% end %>
    <% end %>
    </div>
    </div>
  </div>
</div>
</div>