 <% if current_competitor %> 
<h1>Hello <%= current_competitor.username %>!</h1>
<% end %>
  <div class="row">
    <%= @trivia_question.question %>
    <% @trivia_answers.shuffle.each do |answer| %>
    <p><%= answer.answer %></p>
    <% end %>
  </div>