    <!-- Color switcher -->
    <div class="sidebar">
        <a class="sidebar-switcher" href="#" title="Color switcher">
            <i class="fa fa-gear"></i>
        </a>
        <div class="sidebar-content">
            <h4 class="sidebar-header">Color switcher</h4>
            <a href="#" class="color-switcher bg-yellow" data-color="yellow"></a>
            <a href="#" class="color-switcher bg-orange" data-color="orange"></a>
            <a href="#" class="color-switcher bg-pink" data-color="pink"></a>
            <a href="#" class="color-switcher bg-red" data-color="red"></a>
            <a href="#" class="color-switcher bg-green" data-color="green"></a>
            <a href="#" class="color-switcher bg-blue" data-color="blue"></a>
        </div>
    </div>


    <!-- Section home -->
    <div class="section-home" id="home">
        <div class="overlay"></div>
        <!-- Particles -->
        <canvas class="particles" id="particles"></canvas>
        <div class="container">
            <div class="section-home-content" style="margin-top: -150px;">
                <div class="section-icon"><span><i class="fa fa-plug" aria-hidden="true"></i></span></div>
                <div class="clearfix"></div>
                <h2 class="digit-header">Got60</h2>
                <h3 class="signature-header"><small>Michael <strong>Yatco</strong></small></h3>
                <h1 class="system-header">{It's dangerous to go alone.<span class="highlight">Play</span>this.}</h1>
                <p class="section-description"><span class="main-color">G</span>ot<span class="main-color">60</span></span> - the best way to pass that extra minute you have to spend. Connect with nearby competitors - whether you're in the library, the bar, or the airport terminal. Test your skills, wager a bet, and maybe make a friend along the way.</p>

                <% unless current_competitor %>
                <a href="#" class="btn-border btn-primary" title="Sign Up" data-toggle="modal" data-target="#order-modal">
                    <span class="btn btn-primary btn-lg"><i class="fa fa-play" aria-hidden="true"></i> Sign up! </span>
                </a>
                <a href="/login" class="btn-border btn-primary" title="login" data-toggle="modal" data-target="#order-modal">
                    <span class="btn btn-primary btn-lg"><i class="fa fa-play" aria-hidden="true"></i> Log in!</span>
                </a>
                <% end %>
            </div>
        </div>
        <div class="home-bg"></div>
    </div>
    <!-- Section about -->
    <div class="standard-section section-about" id="about">
        <div class="container">
            <div class="text-center">
                <!-- <h3 class="standard-subheader bracket" data-100p-top="transform[swing]:translateX(-25px);opacity[swing]:0" data-75p-top="transform[swing]:translateX(0);opacity[swing]:1">what is the GameR</h3> -->
                <h2 class="standard-header" data-100p-top="transform[swing]:translateX(25px);opacity[swing]:0" data-75p-top="transform[swing]:translateX(0);opacity[swing]:1">Games</h2>
            </div>
            <div class="text-center" data-100p-top="transform[swing]:translateX(-25px);opacity[swing]:0" data-75p-top="transform[swing]:translateX(0);opacity[swing]:1">
                <div class="section-icon"><span><i class="fa fa-info"></i></span></div>
            </div>
            <p class="section-description text-center lead"><span class="highlight"><span class="main-color">W</span>hich game will <strong>you</strong> compete in?</p>
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature-box text-center">
                        <span class="icon-circle-outer" data-toggle="tooltip" data-placement="top" data-100p-top="transform[swing]:scale(0.5);opacity[swing]:0" data-75p-top="transform[swing]:scale(1);opacity[swing]:1" title="
                            <ul class='list'>
                                <li><span>Harry Potter</span></li>
                                <li><span>Sports</span></li>
                                <li><span>History</span></li>
                            </ul>
                        ">
                            <span class="icon-circle-inner">
                                <span class="glyphicon glyphicon-book"></span>
                            </span>
                        </span>
                        <h3 class="feature-header bracket">
                            <%= link_to "Trivia", "/games", params: {game_id: 1}, method: :post %>
                        </h3>
                        <p>Do you have what it takes to outsmart your opponent when it comes to Harry Potter?</p>
                        <p class="lines-header no-margin" data-100p-top="transform[swing]:scale(0.5);opacity[swing]:0" data-75p-top="transform[swing]:scale(1);opacity[swing]:1">Test your <strong>knowledge</strong>!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-box text-center">
                        <span class="icon-circle-outer" data-toggle="tooltip" data-placement="top" data-100p-top="transform[swing]:scale(0.5);opacity[swing]:0" data-75p-top="transform[swing]:scale(1);opacity[swing]:1" title="
                            <ul class='list'>
                                <li><span>Programming</span></li>
                                <li><span>Design</span></li>
                                <li><span>Marketing</span></li>
                            </ul>
                        ">
                            <span class="icon-circle-inner">
                                <span class="glyphicon glyphicon-tower"></span>
                            </span>
                        </span>
                        <h3 class="feature-header bracket">Skills</h3>
                        <p>EDIT ME MIKE!!!!!</p>
                        <p class="lines-header no-margin" data-100p-top="transform[swing]:scale(0.5);opacity[swing]:0" data-75p-top="transform[swing]:scale(1);opacity[swing]:1">Increase your <strong>programming</strong> skills!</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="feature-box text-center">
                        <span class="icon-circle-outer" data-toggle="tooltip" data-placement="top" data-100p-top="transform[swing]:scale(0.5);opacity[swing]:0" data-75p-top="transform[swing]:scale(1);opacity[swing]:1" title="
                            <ul class='list'>
                                <li><span>Amazing game experience</span></li>
                                <li><span>Over 100 hours of playing</span></li>
                                <li><span>Pixel art graphic</span></li>
                            </ul>
                        ">
                            <span class="icon-circle-inner">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                            </span>
                        </span>
                        <h3 class="feature-header bracket">Fun</h3>
                        <p>EDIT ME MIKE!!!!!</p>
                        <p class="lines-header no-margin" data-100p-top="transform[swing]:scale(0.5);opacity[swing]:0" data-75p-top="transform[swing]:scale(1);opacity[swing]:1">Have<strong>fun</strong>!</p>
                    </div>
                </div>
            </div>