<h1>Add wager for <%= current_competitor.username %></h1>
<%= form_tag "/wagers/", method: :post do %>
  Your Bet: <input type="text" name="bet">
  <input type="submit" value="Submit Wager!">
<% end %>