<h1>Add image for <%= @competitor.username %></h1>
<%= form_tag "/profiles/#{@profile.id}/images", method: :post do %>
  Image URL: <input type="text" name="url">
  <input type="submit" name="Add image">
<% end %>